<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista de empleados</span>
      <button class="btn btn-dark btn-lg float-right" routerLink="/crearEmpleado">Agregar empleado</button>
      <h5 style="margin-top: 30px" *ngIf="empleados.length == 0">No hay empleados registrados</h5>
      <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
        <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cédula</th>
          <th>Cargo</th>
          <th>Salario</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let empleado of empleados">
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.apellido }}</td>
          <td>{{ empleado.cedula }}</td>
          <td>{{ empleado.cargo }}</td>
          <td>{{ empleado.salario | currency }}</td>
          <td>
            <i class="fa-solid fa-user-pen fa-lg text-info mr-3" [routerLink]="['/editEmpleado/', empleado.id]"></i>
            <i (click)="eliminarEmpleados(empleado.id)" class="fa-solid fa-trash-can fa-lg text-danger"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
